# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~*
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*.lck
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# output files
*.gbr
*.drl
*.pdf
*.rpt
hardware/renders


# LTSpice
# Logfile
*.log

# Simulation Outputs
*.raw
*.fft

# Netlist
*.net

# preserve design files
!/hardware/*/*.asc
!/hardware/*/*.asy
!/hardware/*/*.plt
!/hardware/*/*.lib


# FPGA
/software/*/*.uf2
/software/*/*.bin
/software/*/*.asc
/software/*/*.json
/software/*/*.history
/software/*/*.dblite
/software/bitstream.h

# MCU
/software/build

# FreeCAD
*.FCBak
