
set_io --warn-no-port led_blue 39
set_io --warn-no-port led_green 40
set_io --warn-no-port led_red 41
set_io --warn-no-port clk 35


set_io --warn-no-port lsd_adc_ofl 28
set_io --warn-no-port lsd_adc_d7 31
set_io --warn-no-port lsd_adc_d6 32
set_io --warn-no-port lsd_adc_d5 34
set_io --warn-no-port lsd_adc_d4 36
set_io --warn-no-port lsd_adc_cs 38
set_io --warn-no-port lsd_adc_d3 42
set_io --warn-no-port lsd_adc_d2 43
set_io --warn-no-port lsd_adc_rd 11
set_io --warn-no-port lsd_adc_mode 6
set_io --warn-no-port lsd_adc_int 9

set_io --warn-no-port gps_pps2 44
set_io --warn-no-port gps_pps1 45
set_io --warn-no-port lsd_adc_d0 46
set_io --warn-no-port lsd_adc_d1 47
set_io --warn-no-port lsd_adc_wr_rdy 48
set_io --warn-no-port sense_precise 2
set_io --warn-no-port data_hv 3
set_io --warn-no-port clock_hv 4

set_io --warn-no-port i2c_clock 23
set_io --warn-no-port clock_precise 19
set_io --warn-no-port data_precise 18
set_io --warn-no-port i2c_data 26
set_io --warn-no-port pps_trimmed 20

